<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Spam Recognizer AI">
    <meta name="author" content="Intelligent Group">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> 
        {% block title %} Hoax Detector oleh DW-IR{% endblock %}
    </title>
</head>
<body style="background-image:url(https://backgroundcheckall.com/wp-content/uploads/2017/12/bootstrap-background-7.jpg);
             background-repeat:no-repeat;background-size:1600px">
    <content>
        {% block content %}
                <!-- content goes here -->
        {% endblock %}
    </content>
   <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   {% block javascript %}
   {% endblock %}
</body>
<footer class="section footer-classic context-dark bg-image" style="background: #2d3333;margin-top:50px;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand"><img class="brand-logo-light" src="" alt="" width="140" height="37" srcset=""></a>
                <p>Kami adalah kedua orang anak bangsa yang mengembangkan aplikasi hoax detector, yang diharapkan mampu untuk
				membantu Masyarakat Indonesia dalam mengenali berita yang merupakan hoax dan yang bukan hoax.</p>
                <!-- Rights-->
                <p class="rights"><span>© Hak Cipta DW-IR </span><span class="copyright-year">2018</span><span>. </span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Kontak</h5>
              <dl class="contact-list">
                <dt>Alamat:</dt>
                <dd>Fakultas Ilmu Komputer, Universitas Indonesia, Jawa Barat.</dd>
              </dl>
              <dl class="contact-list">
                <dt>Email:</dt>
                <dd>WD4IR@gmail.com</dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3" style="margin-top:10px">
			<dl class="contact-list">
				<dt>Nama Anggota (Kontributor):</dt>
			</dl>
              <ul class="nav-list">
                <li>Kerenza Doxolodeo - 1606881670</li>
                <li>Winston Chandra - 1606831294</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
</footer>
<style>
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(200, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6dff;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
</style>
</html>
