{% extends "hoaxdetect/layout/base.html" %}
{% block content %}
<h1 style="text-align:center;color: darkblue;font-family:Verdana">
Selamat datang di Hoax Detector</h1>
<h3 style = "text-align: center; color:darkblue;font-style:Verdana">Dengan Akurasi sebesar 79%</h3>
<br>
<textarea id="temp" style="resize:none;width:500px;height:500px;font-size:18px;
	margin-left:100px;" placeholder = "Masukkan input berita disini..."></textarea>
<input id = "but" type="submit" class="btn btn-success" value="Proses" 
	style="margin-left:30px;margin-top:-950px">
</input>
<textarea placeholder = "Ini adalah kotak output hasil olahan berita yang diberikan" id = "res" 
style="resize:none;width:500px;height:70px;margin-left:30px;font-size:18px;margin-bottom:430px;" readonly>
</textarea>
<div style="width:350px;padding:25px;margin:25px;margin-left:713px;margin-top:-450px;margin-bottom:300px">
<h4>Keterangan:</h4>
<h4>- Untuk probabilitas di atas 50%, maka berita adalah hoax</h4>
<h4>- Untuk probabilitas kurang dari atau sama dengan 50%, maka berita tersebut adalah bukan hoax</h4>
</div>
{% endblock %}
{% block javascript %}
<script>
	var func = function(param){
		$.ajax({
			method: "POST",
			url: '{% url "hoax:main" %}',
			data: { paramm:param },
			dataType: 'json',
			success : function(response) {
				if ($('#res').val() != '') {
					$('#res').val('');
					$('#res').val(response.hasil);
				}
				else {
					$('#res').val(response.hasil);
				}
			},
			error : function(error) {
				console.log(error);
				alert("Mohon dicoba lagi");
			}
		})
	};
	$("#but").button().click(function (event) {
		var value = $("#temp").val();
		func(value);
		$("#res").val('Mohon Tunggu...');
		event.preventDefault();
	});
</script>
{% endblock %}